<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEEklKS7PR1wyeIObg5K6nqYl6HZ3utWg</string>
	<key>GCM_SENDER_ID</key>
	<string>971843975076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nba.nbatrade</string>
	<key>PROJECT_ID</key>
	<string>nba-trade-machine-c3583</string>
	<key>STORAGE_BUCKET</key>
	<string>nba-trade-machine-c3583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971843975076:ios:9ff3623052b94522133331</string>
</dict>
</plist>